.dropdown-container-category {
  display: flex;
  align-items: center;
  background-color: white;
}

.dropdown-label-category {
  color: #6c757d;
  font-weight: bold;
  margin-right: 8px;
}

.dropdown-category {
  position: relative;
}

.dropdown-toggle-category {
  background-color: #f8f9fa;
  border: 1px solid #ffffffe5;
  color: #212529;
  font-size: 18px;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 15px;
  width: 150px; 
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center; 
}

.dropdown-menu-category {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.dropdown-menu-category li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-menu-category li:hover {
  background-color: #f8f9fa;
}
