.container-principal{
    display: flex;

    .bloco-lista-itens{
        flex: 1;
        padding: 10px;
        border: 1px solid #000;
        margin: 20px;

        /* margin-top: 120px;
        margin-left: 100px;
        float: left;
        display: inline-block; */
        /* height: 400px; Pensar numa maneira disso acompanhar o tamanho da lista de itens */
        /* width: 680px;  */
        
        h2{
                color:black;
                text-align: left;
                padding-left: 10px;
            }

        .texto-carrinho-vazio{
            color:rgba(0, 0, 0, 0.274);
        }

        .container-botao-voltar{
            width: 100%;
            position: fixed;
            bottom: 60px;
        }            
    }

    .resumo-pedido{
        flex: 1;
        padding: 10px;
        border: 1px solid #000;
        margin: 20px;
        /* display: inline-block; */
        /* margin-right: 100px; */
        /* float: right; */
        /* height: 400px; Pensar numa maneira disso acompnhar o tamanho da lista de itens */
        /* width: 680px; 
        background: red; */
    }
}
