/* Cadastro.css */

.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.input-container {
  display: grid;
  grid-template-columns: 300px;
  gap: 5px;
  padding: 10px;
}

.input-container {
  display: grid;
  grid-template-columns: 300px;
  gap: 5px;
  padding: 5px;
}

.input-container label {
  font-size: 23px;
  font-weight: 900; /* Deixa a fonte mais grossa */
  color: #E16A00; /* Muda a cor do texto para laranja */
}

.input-container select,
.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
  border-radius: 5px; /* Adiciona bordas levemente arredondadas */
  background-color: rgb(252, 233, 200);
  padding: 5px;
  font-size: 16px;
}

.login-buttons {
  display: flex;
  justify-content: center;

}

.login-link {
  text-align: center;
}

.login-link a {
  text-decoration: underline;
  color: gray;
  font-size: 12px;
  font-weight: 600;
}

.radio-buttons {
  display: flex;
}

.radio-buttons input[type="radio"] {
  margin-right: 5px;
}

.radio-buttons label {
  font-size: 16px; /* Altera o tamanho do texto */
  color: rgb(92, 47, 11); /* Altera a cor do texto */
  padding: 0px;
  font-weight: 750;
}

*{
font-family: 'Montserrat', sans-serif;
}

.content {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-image: url('../../images/livros-bg.PNG');
background-size: 1350PX; /* faz a imagem cobrir todo o container */
background-position: center; /* centraliza a imagem */
}

.container {
background-color: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
align-items: center;
}

.error-message {
color: red;
margin-bottom: 10px;
}

.input-error {
border: 2px solid red;
}

.required {
color: red;
font-size: 0.8em; 
vertical-align: super; 
}
